.venv
.env
.enviromentvars

*.pyc

__pycache__
__pycache__/
src/controllers/__pycache__
src/models/__pycache__
src/routes/__pycache__
src/utils/__pycache__

src/controllers/__pycache__/
src/models/__pycache__/
src/routes/__pycache__/
src/utils/__pycache__/
